.dashboard-container {
  flex-direction: row;
  gap: 20px; /* 사각형들 사이의 간격 */
  padding: 20px;
  justify-content: center; /* 컨테이너 내 요소들을 가운데 정렬 */
  display: flex;
}

/* 모든 사각형 스타일 */
.rectangle {
  background: #f8f3ec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 100%;
  max-width: 600px; /* 최대 너비 */
  height: 76vh;
  justify-content: center;
  overflow: hidden; /* 내부 요소가 경계를 넘지 않도록 숨김 */
}
.rectangle .rectangle-left {
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between; /* 버튼 사이에 여백을 균등하게 배치 */
  width: 100%; /* 원하는 컨테이너 너비 설정 */
  padding: 6%;
}

.frame {
  width: 160px;
  height: 50px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
}

.frame-font {
  display: block;
  font-size: 14px;
  text-align: center !important;
  font-weight: 700;
  margin: 0;
}

.repoicon {
  width: 20px;
  margin-right: 10px;
}

.boardCategory {
  width: 100%; /* 이 부분을 수정할 필요가 있음 */
  max-width: 100%; /* max-width를 설정해 부모 요소의 너비에 맞춰 조정되도록 함 */
  display: flex; /* Flexbox 사용으로 레이아웃 조정 */
  flex-wrap: wrap; /* 줄 바꿈을 허용하여 자식 요소가 화면 크기에 맞춰 배치되도록 함 */
  gap: 10px; /* 요소 간의 간격 설정 */
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 수직 정렬 */
}

.board-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 90%;
  height: auto;
  padding: 20px;
  display: flex;
  margin: auto;
  margin-bottom: 10px; /* 카드들 사이의 간격 추가 */
}

.board-card .content {
  display: flex;
  align-items: center; /* 카테고리, 그룹, 금액을 가로로 정렬 */
  font-size: 14px;
  margin: auto;
}

.board-card .content span {
  width: 100%;
}

.badge {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  text-align: center;
  width: 48%;
}
.badge-icon {
  width: 24px; /* 아이콘 크기 조정 */
  height: 24px; /* 아이콘 크기 조정 */
  margin-right: 8px; /* 아이콘과 텍스트 사이의 간격 */
}

.group {
  color: black;
  font-size: 16px;
}
.amount {
  color: #676464;
  margin-left: 8px;
  font-size: 13px;
}

.pagination {
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  bottom: auto;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #f24150;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.rectangle-right {
  background: #f8f3ec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px; /* 요소 간의 간격 추가 */
}

.spending-comparison-title,
.category-comparison-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left; /* 제목을 중앙 정렬 */
}

.average-spending,
.user-spending {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* 요소 사이의 간격 추가 */
}

.no-data {
  color: #ff0000; /* 데이터가 없을 경우 빨간색 표시 */
  text-align: center;
  font-weight: bold;
}

.category-comparison-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* 카테고리별 비교 요소 간의 간격 */
  gap: 10px; /* 아이콘과 텍스트 사이의 간격 */
}

.category-comparison-item p {
  margin: 0;
  font-size: 14px;
  text-align: left; /* 텍스트를 왼쪽 정렬 */
}
