.header {
  width: 100%;
  height: 55px;
  background-color: #f8f3ec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 109.2px;
  height: 24px;
}

.header-bar {
  display: flex;
  align-items: center;
}

.header-list {
  list-style: none;
  color: #f27f3e;

  display: flex;
  margin: 0;
  padding: 0;
}

.header-item,
.header-list a {
  font-size: 16px;
  color: #f27f3e;
  cursor: pointer;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 55px;
  text-decoration: none;
  color: inherit;
}

.dropdown-container {
  width: 40px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dropdown-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 64px;
  right: 12px;
  width: 140px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  opacity: 0;
  z-index: 100;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  background-color: #f8f3ec;
  color: #f27f3e;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item,
.menu-item link {
  width: 158px;
  height: 50px;
  text-align: center;
  align-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item a {
  margin: 0px;
  width: 158px;
  height: 50px;
}

.menu-item:hover {
  background-color: #f9ecda;
  border-radius: 8px;
}

.menu-line {
  width: 36%;
  height: 1px;
  background-color: #f2803e8f;
  margin: 2px 0;
}
