.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

.modal-header {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

/* General modal styles remain unchanged */

/* Event item styles with category-specific colors */
.event-1 {
  background-color: #ff6961;
} /* Example color for Food */
.event-2 {
  background-color: #77dd77;
} /* Example color for Traffic */
.event-3 {
  background-color: #fdfd96;
} /* Example color for Fashion */
.event-4 {
  background-color: #84b6f4;
} /* Example color for Culture */
.event-5 {
  background-color: #fdcae1;
} /* Example color for Education */
.event-6 {
  background-color: #cfcfc4;
} /* Example color for Etc */

.event-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #fff; /* Assuming white text for better contrast on colored backgrounds */
}

.event-icon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.event-category {
  font-weight: bold;
  color: #555;
  flex: 1; /* Take remaining space */
}

.event-description {
  margin-left: auto;
  color: #999;
}

.event-amount {
  font-size: 16px;
  color: #333;
  margin-left: 10px; /* Space before amount */
}
