.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intellij {
  width: 300px;
  height: 300px;
}

.vscode {
  width: 320px;
  height: 320px;
}

.docker {
  width: 320px;
  height: 320px;
}

.aws {
  width: 240px;
  height: 140px;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  object-fit: cover;
}

.card-hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 36px;
}

.card:hover .card-hover-content {
  opacity: 1;
}

/* 여기부터 Join Page의 CSS 파일 */
/* 페이지 전체 컨테이너 스타일 */
.page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(180deg, #f27f3e 0%, #f2c894 50%, #ffffff 100%);
  overflow: hidden;
}

/* 메인 컨테이너 스타일 */
.certify-container {
  width: 525px;
  padding: 40px;
  padding-left: 90px;
  padding-right: 90px;

  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 82px 40px rgba(100, 100, 100, 0.078);
  position: relative;
}

/* 폼 스타일 */
.certify-form {
  display: flex;
  flex-direction: column;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

/* 폼 아이템 스타일 */
.certify-item {
  margin-bottom: 0; /* Remove margin between items */
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  overflow: hidden; /* To keep border-radius on label and input */
  background-color: #ffffff; /* Ensure background is white */
}

.certify-item:not(:last-child) {
  margin-bottom: -1px; /* Overlap bottom border to remove gaps */
}

.certify-item label {
  font-weight: 500;
  font-size: 10px;
  color: #616161;
  padding: 10px; /* Padding around the label */
  padding-bottom: 0px;
  display: block;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  background-color: #ffffff;
}

.certify-item input {
  width: 100%;
  padding: 3px;
  padding-left: 10px;
  padding-bottom: 5px;
  border: none; /* Remove border from input */
  font-size: 14px;
  box-sizing: border-box;
  background-color: #ffffff; /* Ensure background is white */
}

input::placeholder {
  color: #616161;
}
#birth {
  color: #616161; /* 원하는 색상 코드로 변경 */
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* 버튼 스타일 */
.signup-button {
  width: 100%;
  padding: 12px;
  background-color: #f27f3e;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.signup-button:hover {
  background-color: #e57300;
}

.signup-footer {
  margin-top: 20px;
  font-size: 12.8px;
  color: #424242;
  text-align: center;
}

/* 텍스트 스타일 */
.text {
  color: #757575;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
}
