.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intellij {
  width: 300px;
  height: 300px;
}

.vscode {
  width: 320px;
  height: 320px;
}

.docker {
  width: 320px;
  height: 320px;
}

.aws {
  width: 240px;
  height: 140px;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  object-fit: cover;
}

.card-hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 36px;
}

.card:hover .card-hover-content {
  opacity: 1;
}

/* 페이지 전체 컨테이너 스타일 */
.page-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(180deg, #f3b081, #f2c894 60%, #ffffff 100%);
  overflow: hidden;
}

/* 메인 컨테이너 스타일 */
.certify-container {
  width: 525px;
  padding: 40px;
  padding-left: 90px;
  padding-right: 90px;

  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 82px 40px rgba(100, 100, 100, 0.078);
  position: relative;
}

/* 폼 스타일 */
.certify-form {
  flex-direction: column;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

.certify-item {
  margin-bottom: 0;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  background-color: #ffffff;
}

.certify-item:not(:last-child) {
  margin-bottom: -1px;
}
.certify-item-double:not(:last-child) {
  margin-bottom: -1px;
}

.certify-item label {
  font-weight: 500;
  font-size: 11px;
  color: #616161;
  padding: 10px;
  padding-bottom: 0px;
  display: block;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  background-color: #ffffff;
}

.certify-item input {
  width: 100%;
  padding: 3px;
  padding-left: 10px;
  padding-bottom: 5px;
  border: none;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.certify-item-double {
  width: 100%;
  display: flex; /* Flex를 사용하여 수평 정렬 */
  justify-content: space-between; /* 요소들 사이에 공간을 균등 분배 */
  align-items: center; /* 요소들 수직 가운데 정렬 */
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
}
.certify-item-double label {
  font-size: 10px;
  color: #616161;
  padding: 10px;
  padding-bottom: 0px;
  display: block;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  background-color: #ffffff;
}

.certify-item-double span {
  display: flex;
  flex-direction: column; /* 각각의 span 내에서는 세로 정렬 */
  width: 45%; /* 각 span의 넓이를 설정하여 공간 균등 분배 */
  box-sizing: border-box; /* 패딩과 보더를 포함하여 넓이를 계산 */
}

.certify-item-double span label {
  margin-bottom: 5px; /* 레이블과 입력 필드 간의 간격을 추가 */
  font-weight: 500;
  font-size: 10px;
  color: #616161;
  display: block;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.certify-item-double input[type="date"],
.certify-item-double input[type="radio"] {
  margin: 0;
  padding: 3px;
  padding-left: 10px;
  padding-bottom: 5px;
  border: #ffffff;
  background-color: #ffffff;
}

.certify-item-double div {
  display: flex;
  align-items: center; /* 라디오 버튼과 라벨을 수직 가운데 정렬 */
}

.certify-item-double div label {
  font-size: 14px;
}

input::placeholder {
  color: #9c9c9c;
}
#birth {
  color: #9c9c9c;
}
.password-input-container {
  position: relative;
  width: 100%;
}

.certify-item input[type="password"] {
  width: 100%;
  padding: 3px 10px;
  border: none;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #f27f3e;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  transition: background-color 0.3s ease;
  margin-top: 14px;
}

.submit-button:hover {
  background-color: #e57300;
}

.signup-footer {
  margin-top: 20px;
  font-size: 12.8px;
  color: #424242;
  text-align: center;
}

.login-footer {
  margin-top: 20px;
  font-size: 12.8px;
  color: #424242;
  text-align: center;
}

.text {
  color: #757575;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
}

.options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-size: 14px;
  color: #616161;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.login-sub {
  display: flex;
  align-items: center;
}

.checkbox-label {
  margin-left: 5px;
  font-size: 14px;
  color: #616161;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.find-options {
  display: flex;
  gap: 15px;
}

.find-link {
  font-size: 14px;
  color: #616161;
  text-decoration: none;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.find-link:hover {
  text-decoration: underline;
}
